.header {
    text-align:center;
    padding: 1rem 10px;
    background-color:#3a7a38;
    color:#000;
}
.header a {
    color:#fff;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.main-nav {
    text-align:center;
    padding: 5px 5px;
    background-color:#c9d9c9;
}
.main-nav .nav-link {
    color:#036200;
    font-weight: bold;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #3a7a38
}


.footer {
    background-color:#010101;
    color:#fff;
    text-align:center;
    border-top: 0.05rem solid #e5e5e5;
    padding: 3rem 0;
}
.footer a {
    color: #56ff00;
}


.carousel-caption {
    text-shadow: 2px 2px 2px rgba(2, 0, 0, 1);
}
.greeting {
    padding: 20px 0
}

.greeting h1 {
    text-align:center;
}
.greeting p{
    font-size:1.3rem;
    font-style: italic;
}
.greeting .autor-mark {
    text-align:right;
}

.contacts-info {
    margin:20px 0;
}

.contacts-info a {
    color: #3a7a38;
}

.about-img {
    width:100%;
    height:auto;
}

.about-block {
    text-align:justify;
}

.blog {
    padding: 2rem 0;
}

.green-link {
    color: #3a7a38;
}

.green-link:hover {
    color: #39d334;
}
.blog-item-meta {
    color: #999;
}

.item-image {
    width:100%;
}

.item-heading {
    margin-top:20px;
}

.carousel-caption a {
    background-color: #3a7a38;
    border-radius:10px;
    color: #fff;
    padding:10px;
}

.carousel-caption a:hover {
    background-color:#4fe14b;
    text-decoration:none;
}

.site-logo {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}